// // product pages--------------------------

.hero-section.product-page{
    height: 23vh;
}

.project-description{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
    align-items: center;

    h1{
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 0.14em;
        color: #541b8e;
        font-family: 'Sniglet', cursive;
        font-size: 2em;
        margin-top: -60px;
        @media screen and (min-width: 1024px){
            margin-top: -100px;
        }
        @media screen and (min-width: 1224px){
            margin-top: -200px;
        }
    }

    h2{
        font-size: 1.3em;
        margin-bottom: 10px;
    }

    p{
        line-height: 1.5em;
        font-family: 'Avenir-Next', sans-serif;
        font-weight: 100;
        margin-bottom: 50px;
        max-width: 470px;
    }
}

p.justify{
    text-align: center;
    @media screen and (min-width: 500px){
        text-align: justify;
    }
}

.tech p, .myRole p{
    text-align: center;
    @media screen and (min-width: 1024px){
        text-align: right;
    }
}

.tech{
    @media screen and (min-width: 1024px){
        position: absolute;
        top: 40px;
        right: 40px;
    }
}
.myRole{
    @media screen and (min-width: 1024px){
        position: absolute;
        top: 120px;
        right: 40px;
    }
}

.product-section{
    display: flex;
    justify-content: center;
    margin: 0 auto;

    h1{
        text-align: center;
        font-family: 'Avenir-Next', sans-serif;
        font-weight: 200;
        font-size: 1.3em;
        letter-spacing: 0.08em;
        margin: 50px 0 30px 0;
    }

    .waze{
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;

        a{
            margin-bottom: 60px;
            transition: .2s ease-in-out;
            &:hover{
                transform: scale(1.09);
            }
            img {
                width: 100%;
                @media screen and (min-width: 768px){
                    max-width: 600px;
                    width: 100%;
                }
            }
        }
        

        span{
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 768px){
                flex-direction: row;
            }
        }
        

        video{
            max-width: 400px;
            width: 100%;
            @media screen and (min-width: 768px){
                padding: 0 20px 0 20px;
            }
            @media screen and (min-width: 1024px){
                padding: 0 30px 0 30px;
            }
        }

    }

    .moodie{
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
           width: 100%;
           max-width: 300px;  
            @media screen and (min-width: 768px){
                max-width: 400px;
            }   
        }

        span{
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 900px){
                flex-direction: row;
            }
            video{
                max-width: 400px;
                width: 100%;

                @media screen and (min-width: 900px){
                    padding: 0 30px 0 30px;
                }
            }
        }
    }

    .drive{
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        @media screen and (min-width: 900px){
            flex-direction: row;
            align-content: center;
            align-items: center;
            justify-content: center;
        }

        div{

            img{
                width: 100%;
                max-width: 300px;  
                 @media screen and (min-width: 768px){
                     max-width: 400px;
                 }   
                 @media screen and (min-width: 900px){
                     margin-top: 100px;
                 }
                 @media screen and (min-width: 1024px){
                    max-width: 450px;
                }
             }
     
             video{
                 max-width: 310px;
                 width: 100%;
                 @media screen and (min-width: 1024px){
                    max-width: 350px;
                }
             }
     
             h1{
                 @media screen and (min-width: 900px){
                     margin-top: -2px;
                 }
             }
        }
        
    }

}



///-----------------fun page-----------------------------


h1{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    color: #541b8e;
    font-family: 'Sniglet', cursive;
    font-size: 2em;
    margin-top: -60px;
    @media screen and (min-width: 1024px){
        margin-top: -100px;
    }
    @media screen and (min-width: 1224px){
        margin-top: -200px;
    }
}

.gallery {
    padding: 0 0 4rem 0;
    margin: 0 auto; 
    width: 100%;
    @media screen and (min-width: 768px){
        max-width: 900px;
    }
    @media screen and (min-width: 1224px){
        max-width: 1000px;
    }


    .grid {
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
      }
      .grid > [class*="column-"] {
        display: block;
      }

  
    .img-container {
        
        width: 100%;
        // height: 500px;
        cursor: pointer;
        overflow: hidden;
        &:hover .img-content-hover {
            display: block;
        }
        @media screen and (min-width: 768px){
            &:first-child, &:nth-child(2), &:nth-child(4), &:nth-child(5){
                width: 50%;
            }
        }
        @media screen and (min-width: 1024px){
            &:nth-child(4), &:nth-child(5), &:nth-child(6){
                width: 33.3333333333%;
            }
        }
    }
  
    img {
        display: flex;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover {
           -webkit-transform: scale(1.05);
           -ms-transform: scale(1.05);
           transform: scale(1.05);
        }
        @media screen and (min-width: 768px){
            &.piano{
                height: 400px;
            }
        }
    }
  
    .img-content-hover {
        position: absolute;
        z-index: 1;
        white-space: nowrap;
        display: none;
        padding: 1rem;
        font-weight: 400;
        margin-top: 1.25rem;
        margin-left: -2rem;
    }

    @media screen and (max-width: 1024px) {
        img:hover {
           -webkit-transform: none;
           -ms-transform: none;
           transform: none;
        }
    
        .img-container {
            height: 100%;
            &:hover .img-content-hover {
                display: none;
            }
        }
  
        .img-content {
            display: block;
            padding: 1rem 0;
        }
    }
}
  




